.module {
	max-width: 100%;
	//TODO mobile css兼容性是否能通过插件自动编译解决？
	// display: flex;
	// justify-content: space-between;
	// flex-wrap: wrap;

	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin: 10px 16px;

	.card {
		padding: 8px;
		width: 100%;
		display: flex;
		justify-content: space-between;

		.left {
			display: flex;
			flex-direction: column;

			& > div {
				font-size: 30px;
				flex: 1;
			}

			& > span {
				display: block;
				font-size: 16px;
				color: rgb(97, 97, 97);
				font-weight: bold;
			}
		}
	}
}
