.list {
	z-index: -2;
	& > h1 {
		font-size: 24px;
		font-weight: bold;
		margin: 16px;
	}

	.scheduleList {
		margin: 10px 16px;
	}

	.empty {
		color: #bbbbc5;
		text-align: left;
		margin: 10px 16px;
		width: 100%;
	}
}
